.input{
    width: 80%;
    border-style: none;
    height: 40px;
    margin: 20px auto;
    padding: 10px;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
}